.aboutMeDiv {

    margin-top: 3em;
    margin-bottom: 5em;
}

.aboutMeTitle {

    display: flex;
    justify-content: center;
    width: 50%;
    font-size: var(--step-2);
    font-weight: 600;
    letter-spacing: .1em;
}

.introDiv {
    display: flex;
    gap: 1em;
    font-size: var(--step-0);
    margin-bottom: 5em;

}

.introDivHello,
.introText {
    width: 50%;
}

.introDivHello {

    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: rgba(255, 255, 255, 0.3);
    


}

.introDivHello::before {
    content: "";
    position: absolute;
    top: 2em;
    right: 15px;
    bottom: 1em;
    left: 15px;
    background-image: url('../assets/kimmy.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-position-y: -10em;


}

.introDivHello h2 {
    position: relative;
    top: 1em;
    z-index: 10;
    font-size: calc(var(--step-5) * 1.5);
}

.introText {
    padding: .5em 1em;


}

.introText h3 {
    text-transform: uppercase;
    letter-spacing: .2em;

}

.introText p {
    font-size: var(--step--2);
    
}
.introSkill{
    display: flex;
    justify-content: space-evenly;
}
.introSkill li{
    width: calc(100% / 3);
}
.introSkillContainer {
    padding-top: 2em;
}

@media (max-width:900px) {
    .introDiv {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 1em;
            font-size: var(--step-0);

        }
        .aboutMeDiv {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 3em;
            margin-bottom: 5em;
        }
        .introDivHello::before {
            min-width: 350px;
            content: "";
            position: absolute;
            background-image: url('../assets/kimmy.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;



        }
        .introTextContainer h3{
            text-align: center;
        }
        .introSkillContainer {
            padding-top: 0;
        }
}

@media (max-width: 650px) {
    .introSkill{
    flex-direction: column;
    align-items: center;
    
    }
    
}