.CircularProgressbar .CircularProgressbar-path {
    stroke:#4f81ff;
    stroke-linecap: round;
}


.circularProgress{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.circularProgress h4{
    font-size: var(--step--2);
    text-align: center;
    font-weight: normal;
    text-transform: uppercase;
}
@media (max-width:900px) {
.circularProgress h4 {
        font-size: var(--step--2);
      
    }
}