.footer {
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 1rem 0;
    font-size: var(--step--2);
    color: #4f81ff;
    display: flex;
    justify-content: center;

}

.container {
    width: 90%;
   
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.text-muted {
    color: #6c757d;
}

.faIcons {
    width: 50%;
    display: flex;
    justify-content: center;
}

.faIconsList {
    width: 25%;
    display: flex;
    justify-content: space-between;
    font-size: var(--step-0);
}

.faIconsList a {
    color: #4f81ff;
}